<div class="container p-5">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="w-100">
        <input type="text" placeholder="Vyhledejte dodavatele" aria-label="dodavatel" matInput [formControl]="myControl"
          (keyup)="onKey($event)" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let supplier of suppliers | slice:0:5" [value]="supplier">
            {{supplier.id}}: {{supplier.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="text-right">
        <button mat-raised-button color="primary" (click)="onClick($event)">Vybrat</button>
      </div>
    </form>
  </mat-card>
</div>